services:
  redis:
    image: redis:7.4.0
    container_name: tamashi_redis
    ports:
      - 6379:6379
    networks:
      - default
    logging:
      driver: none
  lavalink:
    build:
      context: .
      dockerfile: Dockerfile.lavalink
    container_name: tamashi_lavalink
    ports:
      - 2333:2333
    networks:
      - default
  # lavalink:
  #   image: ghcr.io/lavalink-devs/lavalink:4.0.7
  #   container_name: tamashi_lavalink
  #   ports:
  #     - 2333:2333
  #   networks:
  #     - default
  #   volumes:
  #     - type: bind
  #       source: ./application.yml
  #       target: /opt/Lavalink/application.yml

networks:
  default:
