services:
  ejs-api:
    image: ghcr.io/kikkia/yt-cipher:master
    container_name: tamashi_yt_cipher
    ports:
      - 8001:8001
    restart: unless-stopped
    networks:
      - default
  redis:
    image: redis:7.4.0
    container_name: tamashi_redis
    ports:
      - 3333:6379
    networks:
      - default
    logging:
      driver: none

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4.1.1
    container_name: tamashi_lavalink
    ports:
      - 2333:2333
    networks:
      - default
    volumes:
      - type: bind
        source: ./application.yml
        target: /opt/Lavalink/application.yml

networks:
  default:
